// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
.user-action {
  text-align: center;
}
.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    margin: 10px 0;
    min-width: 300px;
    padding: 5px 10px;
  }
  input[type=submit] {
    width: 150px;
    transition: all 0.5s linear;

    &:hover {
     color: tomato;
     
    }
  }
}
